openapi: 3.0.0
info:
  description: API for the Corp Fees central.
  title: CorpFees
  version: 1.0.0
servers:
- url: http://localhost:3000/
paths:
  /services:
    get:
      description: Get a list of all supported services
      operationId: getAllServices
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/inline_response_200'
                type: array
          description: OK
    post:
      operationId: createService
      requestBody:
        $ref: '#/components/requestBodies/CreateService'
        content:
          application/json:
            schema:
              example:
                title: title
              properties:
                title:
                  type: string
              required:
              - title
              title: CreateService
              type: object
        description: This creates a service like Ammended and Restated articles, or
          Formation.
        required: true
      responses:
        "201":
          description: Created
  /services/{serviceId}/:
    delete:
      description: Delete a service.
      operationId: deleteService
      parameters:
      - explode: false
        in: path
        name: serviceId
        required: true
        schema:
          title: ServiceId
          type: string
        style: simple
      responses:
        "204":
          description: Deleted
    get:
      description: Get one service's details
      operationId: getService
      parameters:
      - explode: false
        in: path
        name: serviceId
        required: true
        schema:
          title: ServiceId
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/paths/~1services/get/responses/200/content/application~1json/schema/items'
          description: OK
    patch:
      description: Update Service values
      operationId: updateService
      parameters:
      - explode: false
        in: path
        name: serviceId
        required: true
        schema:
          title: ServiceId
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/UpdateService'
        content:
          application/json:
            schema:
              example:
                title: title
              properties:
                title:
                  type: string
              title: UpdateService
              type: object
        required: true
      responses:
        "204":
          description: Updated
  /attributes:
    get:
      description: Get all database wide attributes like stock count, jurisdiction
        and entity type.
      operationId: getAllAttributes
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AttributeResponse'
                type: array
          description: OK
    post:
      description: Create a database-wide attribute. Think stock count or entity type
      operationId: createAttribute
      requestBody:
        $ref: '#/components/requestBodies/Attribute'
        content:
          application/json:
            schema:
              example:
                title: title
              properties:
                title:
                  type: string
              required:
              - title
              title: Attribute
              type: object
        required: true
      responses:
        "201":
          description: Created
  /attributes/{attributeId}:
    delete:
      description: Delete an attribute.
      operationId: deleteAttribute
      parameters:
      - explode: false
        in: path
        name: attributeId
        required: true
        schema:
          title: AttributeId
          type: string
        style: simple
      responses:
        "204":
          description: Deleted
    patch:
      description: Update an attribute's name or other details. But not the attribute
        values.
      operationId: updateAttribute
      parameters:
      - explode: false
        in: path
        name: attributeId
        required: true
        schema:
          title: AttributeId
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/UpdateAttribute'
        content:
          application/json:
            schema:
              example:
                title: title
              properties:
                title:
                  type: string
              title: UpdateAttribute
              type: object
        required: true
      responses:
        "204":
          description: Updated
  /attributes/{attributeId}/values:
    description: create a new value and get all values assoc. w an attribute
    get:
      description: Get all a given attribute's possible values
      operationId: getAllAttributeValues
      parameters:
      - explode: false
        in: path
        name: attributeId
        required: true
        schema:
          title: AttributeId
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AttributeValueResponse'
                type: array
          description: OK
    post:
      description: Create a database-wide attribute value. Think 1000+ for stock count
        or Delware for jurisdiction.
      operationId: createAttributeValue
      parameters:
      - explode: false
        in: path
        name: attributeId
        required: true
        schema:
          title: AttributeId
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/AttributeValue'
        content:
          application/json:
            schema:
              example:
                title: title
              properties:
                title:
                  type: string
              required:
              - title
              title: AttributeValue
              type: object
        required: true
      responses:
        "201":
          description: Created
  /attributes/{attributeId}/values/{valueId}:
    delete:
      description: Delete an attribute value.
      operationId: deleteAttributeValue
      parameters:
      - explode: false
        in: path
        name: attributeId
        required: true
        schema:
          title: AttributeId
          type: string
        style: simple
      - explode: false
        in: path
        name: valueId
        required: true
        schema:
          title: ValueId
          type: string
        style: simple
      responses:
        "204":
          description: Deleted
    description: update and delete specific attribute values here
    patch:
      description: Update an attribute value.
      operationId: updateAttributeValue
      parameters:
      - explode: false
        in: path
        name: attributeId
        required: true
        schema:
          title: AttributeId
          type: string
        style: simple
      - explode: false
        in: path
        name: valueId
        required: true
        schema:
          title: ValueId
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/UpdateAttributeValue'
        content:
          application/json:
            schema:
              example:
                title: title
              properties:
                title:
                  type: string
              title: UpdateAttributeValue
              type: object
        required: true
      responses:
        "204":
          description: Updated
  /services/{serviceId}/attributes/{attributeId}/values:
    description: This endpoint supports CRD on the allowed values for a service. Think
      1 day or 2 day or 3 day for filing speed attribute on Ammended and Restated
      articles.
    get:
      operationId: getServiceAttrVals
      parameters:
      - explode: false
        in: path
        name: serviceId
        required: true
        schema:
          title: ServiceId
          type: string
        style: simple
      - explode: false
        in: path
        name: attributeId
        required: true
        schema:
          title: AttributeId
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ServiceAttributeValueResponse'
                type: array
          description: Created
      summary: Get all the service attribute values for a particular attribute.
    post:
      operationId: createServiceAttributeValue
      parameters:
      - explode: false
        in: path
        name: serviceId
        required: true
        schema:
          title: ServiceId
          type: string
        style: simple
      - explode: false
        in: path
        name: attributeId
        required: true
        schema:
          title: AttributeId
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/ServiceAttributeValue'
        content:
          application/json:
            schema:
              example:
                attributeValueId: attributeValueId
              properties:
                attributeValueId:
                  type: string
              required:
              - attributeValueId
              title: ServiceAttributeValue
              type: object
        required: true
      responses:
        "201":
          description: Created
      summary: create a new service attribute value (not an attribute value.) This
        only applies to the service listed in the path. This will automatically create
        a Service attribute line if none exists, that's why we need the attribute
        Id.
  /services/{serviceId}/attributes/{attributeId}/values/{valueId}:
    delete:
      operationId: deleteServiceAttributeValue
      parameters:
      - explode: false
        in: path
        name: serviceId
        required: true
        schema:
          title: ServiceId
          type: string
        style: simple
      - explode: false
        in: path
        name: attributeId
        required: true
        schema:
          title: AttributeId
          type: string
        style: simple
      - explode: false
        in: path
        name: valueId
        required: true
        schema:
          title: ValueId
          type: string
        style: simple
      responses:
        "204":
          description: Deleted
      summary: Delete a service attribute value. valueId here is the service attribute
        value id NOT the attribute value id.
  /services/{serviceId}/variants/:
    get:
      operationId: getFee
      parameters:
      - explode: false
        in: path
        name: serviceId
        required: true
        schema:
          title: ServiceId
          type: string
        style: simple
      - description: This param is an array of strings where the strings are the service
          attribute value ids.
        explode: true
        in: query
        name: attributeValues
        required: true
        schema:
          items:
            type: string
          title: AttributeValues
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VariantResponse'
          description: OK
      summary: Retrieve the fee and other information for a particular service variant,
        ie. (Amended and Restated Articles in Delaware, 1 Day)
components:
  requestBodies:
    ServiceAttributeValue:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ServiceAttributeValue'
      required: true
    AttributeValue:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AttributeValue'
      required: true
    CreateService:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreateService'
      required: true
    UpdateService:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UpdateService'
      required: true
    Attribute:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Attribute'
      required: true
    UpdateAttribute:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UpdateAttribute'
      required: true
    UpdateAttributeValue:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UpdateAttributeValue'
      required: true
  schemas:
    ServiceAttributeValue:
      example:
        attributeValueId: attributeValueId
      properties:
        attributeValueId:
          type: string
      required:
      - attributeValueId
      title: ServiceAttributeValue
      type: object
    AttributeValue:
      example:
        title: title
      properties:
        title:
          type: string
      required:
      - title
      title: AttributeValue
      type: object
    CreateService:
      example:
        title: title
      properties:
        title:
          type: string
      required:
      - title
      title: CreateService
      type: object
    UpdateService:
      example:
        title: title
      properties:
        title:
          type: string
      title: UpdateService
      type: object
    Attribute:
      example:
        title: title
      properties:
        title:
          type: string
      required:
      - title
      title: Attribute
      type: object
    UpdateAttribute:
      example:
        title: title
      properties:
        title:
          type: string
      title: UpdateAttribute
      type: object
    ServiceAttributeValueResponse:
      example:
        id: id
        valueTitle: valueTitle
      properties:
        id:
          type: string
        valueTitle:
          type: string
      required:
      - id
      - valueTitle
      title: ServiceAttributeValueResponse
      type: object
    VariantResponse:
      example:
        amount: 0.8008281904610115
        currency: currency
      properties:
        currency:
          type: string
        amount:
          type: number
      required:
      - amount
      - currency
      title: VariantResponse
      type: object
    inline_response_200:
      example:
        id: id
        title: title
      properties:
        id:
          type: string
        title:
          type: string
      required:
      - id
      - title
      type: object
    AttributeResponse:
      example:
        id: id
        title: title
      properties:
        id:
          type: string
        title:
          type: string
      required:
      - id
      - title
      title: AttributeResponse
      type: object
    AttributeValueResponse:
      example:
        id: id
        title: title
      properties:
        title:
          type: string
        id:
          type: string
      required:
      - id
      - title
      title: AttributeValueResponse
      type: object
    UpdateAttributeValue:
      example:
        title: title
      properties:
        title:
          type: string
      title: UpdateAttributeValue
      type: object
